<html>
  <head>
    <link rel="stylesheet" href="./style.css" type='text/css' />
  </head>
  
  <body class='cover5'>
    <%# <div class='inner'> %>
      <img class='initial-image' src='../initial_tweet_image.png' />
    <%# </div> %>
  </body>
</html>