<html>
  <head>
    <link rel="stylesheet" href="./style.css" type='text/css' />
  </head>
  
  <body class='cover4'>
    <div class='inner'>
      From your friends and mostly-willing audience, Kevin Kuchta, Helen Edwards, Mike Julian, and Bethany Quinn.
    </div>
  </body>
</html>