<html>
  <head>
    <link rel="stylesheet" href="./style.css" type='text/css' />
  </head>

  <body class='cover1'>
    <div class='other-by'>Other works by Corey Quinn</div>
    <ul>
      <li>Corey Quinn: Selected Blogposts and Drunken Rants</li>
      <li>I Am The Cloud: The Quinn Compendium</li>
      <li>In Defense of Yappy Dogs: My Memoirs, 2010-2020</li>
      <li>The Problem with Mike</li>
      <li>Corey Quinn: My Life as a Shitposter</li>
    </ul>
  </body>

</html>