<html>
  <head>
    <link rel="stylesheet" href="./style.css" type='text/css' />
  </head>
  <body class='cover0'>
    <div class='title'>
      The Complete Works of Corey Quinn
    </div>
    <div class='volume'>Volume <%= book_roman_numeral.upcase %></div>
  </body>
</html>