<html>
  <head>
    <link rel="stylesheet" href="./style.css" type='text/css' />
  </head>
  
  <body class='cover3'>
    <div class='inner'>

      <p>The Complete Works of Corey Quinn</p>

      <p>Published by A Poorly Written Ruby Script</p>

      <p>https://github.com/kkuchta/secret_twitter_book</p>

      <p>Copyright © 2022 by I Dunno Probably Still Corey Quinn</p>

      <p>No rights reserved. Any portion of this book may be reproduced in any form without permission from the publisher, since it's all scraped data anyway. For permissions contact: twitter's older, lest restrictive api.</p>

      <p>Layout and Buggy Code by Kevin Kuchta</p>

      <p>ISBN: 867-5309</p>

      <p>Printed in Absentia</p>

      <p>Last Edition</p>
    </div>
  </body>
</html>