<html>
  <head>
    <link rel="stylesheet" href="./style.css" type='text/css' />
  </head>
  <body>
    <% tweets.each do |tweet| %>
      <p>
        <%= tweet[:text] %>
        <% tweet[:media].each do |media_path| %>
          <img src='<%= media_path %>' />
        <% end %>
      </p>
    <% end %>
  </body>
</html>