body {
  filter: grayscale(100%);
  font-family:  palatino;
  font-size: 11px;
  /* margin: 0px; */
  /* margin: 1in; */
}
.chapter-header {
  display: flex;
  justify-content: center;
}
h1 {
  display: flex;
  text-decoration: underline;
  text-decoration-color: #AAA;
}
.images {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(33%, 1fr));
  gap: 8px;
  margin: 8px 24px 12px 24px;
}
.image-container {
  display: flex;
  justify-content: center;
}
.image {
  max-width: 100%;
  max-height: 360px;
  object-fit: contain;
  /* float: right; */
  /* margin: 8px 48px 12px 24px; */
  /* border: 1px solid black; */
  padding: 20px;
  padding-bottom: 8px;
  border-radius: 2px;
  max-height: 3.5in;
}
.tweet-with-image {
  display: inline-flex;
  /* float: right; */
  flex-direction: column;
  border: 1px solid black;
  clear: both;
  margin: 12px;
  page-break-inside: avoid;
  max-width: 60%;
}
.tweet-with-image .text {
  text-align: center;
  padding: 0 8px 8px 8px;

  /* make text wrap instead of expanding box */
  width: 0;
  min-width: 100%;
  box-sizing: border-box;
}
.float-left {
  float: left;
  margin-left: 0;
}
.float-right {
  float: right;
  margin-right: 0;
}
.tweet-with-no-image {
  display: inline;
  page-break-inside: avoid;
}
.tweet-with-no-image .text {
  /* overflow: hidden; */
  /* display: inline-block; */
}

@media print {
  @page {
    /* size: 5in 6.5in; */
  }
}
@media print {
  @page {
    margin: 1in;
  }
  /* body {
    margin: 1.6cm;
  } */
}

.cover0 {
  padding-top: 400px;
  text-align: center;
}
.cover0 .title {
  font-size: 32px;
  margin-bottom: 8px;
}
.cover0 .volume {
  font-size: 24px;
}

.cover1 {
  padding-top: 300px;
  font-style: italic;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
}
.cover1 .other-by {
  font-size: 18px;
}
.cover1 ul {
  padding: 0;
}
.cover1 li {
  list-style: none;
  margin: none;
}

.cover2 {
  height: calc(100vh-5px);
  display: flex;
}
.cover2 .inner {
  border: 10px double black;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  padding-top: 140px;
}
.cover2 .title1 {
  font-size: 28px;
}
.cover2 .of {
  margin-top: 8px;
  font-size: 20px;
}
.cover2 .corey {
  margin-top: 4px;
  font-size: 72px;
  text-decoration: underline;
  text-decoration-color: #555;
  text-underline-offset: 4px;
  text-decoration-thickness: 2px;
  font-weight: bold;
  /* text-transform: uppercase; */
}
.cover2 .volume {
  margin-top: 100px;
  font-size: 28px;
}
.cover2 .range {
  margin-top: 20px;
  font-size: 20px;
}
.cover2 .unabridged {
  margin-top: 100px;
  font-size: 20px;
}
.cover2 .including {
  margin-top: 20px;
  font-size: 20px;
  font-style: italic;
  margin-left: 40px;
  margin-right: 40px;
  text-align: center;
}